/* 自定义主题样式 */

@primary-color: #1890ff;
@secondary-color: #52c41a;
@font-size-base: 14px;
@border-radius: 4px;

@file-daybg-color: #000;
@file-darkbg-color: #fff;
.darkWarp {
  .demofilebox {
    background: @file-darkbg-color;
    width: 100%;
    height: 100px;
  }
}

.dayWarp {
  .demofilebox {
    background: @file-daybg-color;
    width: 100%;
    height: 100px;
  }
}
